


<div class="container mt-5 mr-5">
    <div class="row">
        <div class="card col-12 col-md-3 offset-1 bg-danger p-2" style="height: 350px;">
            <h3 class="text-white p-3">Sign In</h3>
            <p class=" mt-3 text-white" id="text"><small>Welcome to .......
                <br> Busta's ChatApp</small></p>
                <p class=" text-white ml-5 pr-5">We give life the best reunion 
                    for easy connectivity with friends and
                    family
                </p>
        </div>

        <div class="card col-12 col-md-6 bg-shadow p-2">
           <p class="p-5">Awesome!</p>
           <p class="mr-5 pl-5 mb-4">Your account is successfully created, use the below 
             button to visit the login page, sign in and begin to enjoy
             seamless chatting experience</p>

             <button class="btn btn-warning ml-2" (click)="signin()" mat-raised-button>SIGN IN</button>
</div>





